*{
    margin: 0px;
    padding: 0px;
}

body{
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}
.header-content{
    display: flex;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.logo{
    margin-right: 20px;
}
a:hover{
    background-color: brown;
    color: white;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    padding: 10px;
}

.importent-content{
    background: url(./images/bagkground1.jpg); 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 200px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

   
}
.main-content{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    margin-top: 20px;
    margin-bottom: 20px;

}
#content-text{
    text-align: center;
    margin-top: 10px;
    color: white;
}
#content-text h1{
    font-size: xx-large;
    padding: 10px;
}
#content-text p{
    font-size: x-large;
    padding: 10px;
}


.main-content article{
    background-color:darkgrey;
    margin: 10px;
    padding: 20px;
}
.main-content article:hover{
  
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#book-now{
background-color: brown;
padding: 10px;
color: white;

}
#book-now:hover{
    cursor: pointer;
}
 Article h1{
    font-size: xx-large;
    color: blue;
}
ul li{
    list-style-type: none;
    
    
}

a:link{
    text-decoration: none;
}
nav li{
    display: inline-block;
    margin-right: 30px;
    font-size: large;
    font-weight: 400;
    color: black;

}

footer{
    display: flex;
    background-color: black;
    padding: 30px;
}
footer div{
    flex: 1;
}

.footet-image{
    padding-left: 20px;
}
.footet-text{
    color: white;
    padding-left: 30px;

}